.msg{
    width:100%;
    height: .6rem;
    margin-bottom: 1.75rem
}
.must{
    color: red;
    margin-right: .1rem;
    position: relative;
    top: .05rem
}
.ipt{
    width:3.5rem;
    height:.55rem;
    border-radius: .5rem;
    padding-left: .2rem;
    outline: none
}
input{
    border:1px solid #dcdcdc;
    box-sizing: border-box;
    font-size: .26rem;
    color: #909090
}
.label{
    font-size: .28rem;
    color:#5b5b5b;
    line-height: .6rem
}
.weui-btn{
    width:5.52rem;
    height: .65rem;
    background-color: #3b6af4 !important;
    border-radius: .5rem;
    font-size: .3rem;
    line-height: .65rem;
    text-align: center;
    color: #fff;
    outline: none
}
.content{
    width:6.37rem;
    height: 4rem;
    margin:1.22rem auto
}
.agreen{
    width:6.37rem;
    height: .6rem;
    display: flex;
    flex-direction: row;
    margin-bottom: .45rem
}
.checkbox{
    width:.32rem;
    height:.32rem;
    margin: .15rem .15rem .15rem 0
}
.text{
    font-size: .24rem;
    color: #6179ff;
    line-height: .6rem
}
.text2{
    color: #ff7702
}
.get{
    width:1.89rem;
    height:.6rem;
    background-color: #4270f7;
    border: 1px solid #4270f7;
    border-radius: .5rem;
    margin-left: .08rem
}
.get p{
    font-size: .26rem;
    color: #fff;
    text-align: center;
    line-height: .55rem
}
