.icon-danxuan,.icon-danxuan2{
	color: #3b6af4;
}

/*===============*/
.header{
	font-size: .3rem;
	color: #5c5c5c;
	padding: .3rem;
}

/*====头部====*/
.top_head{
	padding: .3rem;
	font-size: .3rem;
	color: #5c5c5c;
}
.top_head span{
	margin-right: .4rem;
}
.top_head  .input_span{
	float: right;
}
.top_head input{
	width: 4.5rem;
}
/*=======weui样式覆盖==============*/
.toolbar .toolbar-inner{
	height: 1rem;
	line-height: 1rem;
}
.toolbar .picker-button{
	line-height: 1rem;
	height: auto;
	font-size: .22rem;
	color: #3b6af4;
}
.toolbar .title{
	line-height: 1rem;
	font-size: .24rem;
}
.weui-select-modal .weui-cells{
	height: 4rem;
	overflow-y: scroll;
}
/*=====下拉样式按钮==========*/
.input_span{
	display: inline-block;
	position: relative;
	vertical-align: middle;
}
input[type ="text"]{
	height: .6rem;
	line-height: .6rem;
	border-radius: .6rem;
	border: 1px solid #dddddd;
	text-indent: 12px;
	outline: none;
}
.input_span:after{
	position: absolute;
	top: .1rem;
	right: .25rem;
	content: "\e771";
	color: #9a9a9a;
	height: .5rem;
	line-height: .5rem;
}
.spanName{
	width: 100%;
	margin: .2rem 0;
}
.spanName input{
	width: 100%;
}
.spanTime input{
	width: 5rem;
	
}
.spanTime{
	float: right;
}
.time_tit{
	padding: .2rem 0;
}
/*=========header=========*/
.checkbox_span{
	margin-left: .5rem;
}
.bor{
	width: 100%;
	height: .1rem;
	background-color: #ebf1ff;
}
/*==============*/
.tit{
	color: #3b6af4;
	font-size: .24rem;
	text-align: center;
	padding: .2rem;
}
.content_div{
	padding: .35rem .3rem;
	border-bottom: 1px dashed #aaaaaa;
	font-size: .18rem;
	color: #333333;
}
.content_div i{
	margin-right: .25rem;
}


/*==============*/
#btn1{
	margin:1rem  10% ;
    width: 80%;
    height: .8rem;
    background-color: #3b6bf4;
    border-radius: .5rem;
    font-size: .32rem;
    font-weight: 900;
    color: #fff;
    line-height: .8rem;
    text-align: center;
    /* margin:0 1rem */
}