/* 顺序框 */
header{
    width:100%;
    height: .94rem;
}
header ul{
    display: flex;
    justify-content: space-around;
    line-height: .94rem
}
.basic-msg{
    width:6.9rem;
    height: 3.2rem;
    margin: auto;
    /* background-color: palegreen; */
}
/* 姓名和电话 */
.basic{
    width:100%;
    height:.79rem;
    display: flex;
    justify-content: space-between;
    /* margin-bottom: .1rem; */
    border-bottom: 1px dashed #ccc
}
.number{
    width:100%;
    height:.79rem;
    display: flex;
    justify-content: space-between;
    /* margin-bottom: .1rem; */
    border-bottom: 1px dashed #ccc
    
}
label{
    font-size: .32rem;
    color: #5c5c5c;
    line-height:.79rem ;
}
span{
    font-size: .32rem;
    color: #5c5c5c;
    line-height:.79rem ;
    
}
/* 出生日期 */
.date{
    width:100%;
    height: .79rem;
    /* margin-bottom: .1rem; */
    border-bottom: 1px dashed #ccc
    
}
/* 车型 */
.type {
    width: 100%;
    height: .79rem;
    /* text-align: right; */
}
/* 图标 */
.iconfont{
    color: #c6cbc9;
    /* background-color: #ebf2ff */
}
/* 分割线 */
.line{
    width: 100%;
    height: .1rem;
    background-color: #ebf2ff
}
.content{
    width:100%;
}
.c-list{
    width:6.9rem;
    margin: auto;
    /* background-color: paleturquoise */
}
.weui-cell{
    padding: 0;
    width: 100%;
    height: 1rem;
    border-bottom: 1px dashed #dddddd
    /* padding-top: .4rem */
}
.weui-cell:before{
    border: none
}
.weui-label{
    width: 2.5rem;
    font-size: .32rem;
    text-align: left;
    line-height: .6rem;
    margin-right: .3rem;
    color: #585858
    /* margin-left: -.3rem */
}
.weui-input{
    width:3.7rem;
    height:.6rem;
    border: 1px solid #c6c6c6;
    border-radius: .5rem;
    padding-left: .2rem;
    margin-left: -.7rem;
    position: relative;
}
.weui-cell .icon-xiangxia1{
    position: absolute;
    top: .3rem;
    left: 80%
}
.weui-cell .icon-xiangji1{
   width:.4rem;
   height: .35rem;
   color: #3b6bf4
}
.weui-btn{
    width:5.5rem;
    height: .8rem;
    border-radius: .5rem;
    margin: .35rem auto;
    background-color: #3b6bf4 !important;
    line-height: .8rem;
}
.toolbar, .toolbar .title{
    font-size: unset
}
.toolbar{
    height: 1rem
}
.toolbar .title{
    line-height: 1rem
}
.toolbar .picker-button{
    height: 1rem;
    line-height: 1rem
}