body{
    width:100%;
    background-color: #ecf1ff
}
header{
    width:100%;
    height: 1rem;
    background-color: #fff;
    margin-bottom: .1rem
}
.basic{
    width:6.9rem;
    height: 1rem;
    margin: auto;
    display: flex;
    /* justify-content: space-between; */
    line-height: 1rem;
    color: #555555
}
.name{
    width: 3rem;
    height: 100%
}
.phone{
    width:3.9rem;
    height: 100%;
    display: flex
}
label{
    font-size: .32rem;
    line-height: 1rem;
}
span{
    font-size: .32rem;
    line-height: 1rem;
}
.cause{
    width: 6.9rem;
    height: 1rem;
    margin: auto;
}
.cause label, .cause span{
    color: red
}
.banner{
    width: 6.9rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    line-height: 1rem;
    
}
/* 提交内容 */
.content{
    width: 100%;
    height: 100%;
    background-color: #fff
}
/*上传放款后资料图 */
.list .weui-uploader__input-box{
    width:7rem;
    height: 1.2rem;
    background-color: unset;
    border: none;
    margin-left: 0
}
.list .weui-uploader__input-box:after, .weui-uploader__input-box:before{
    background-color: unset
}
i{
    display: inline-block
}
.list span{
    color: #acacac;
    margin-left: .3rem
}
.icon-xiangji1{
    margin: 0 .3rem;
    color: #3e6ae7;
}
.more12{
    display: none
}
/* 内容列表 */
.c-list{
    width:7rem;
    margin: auto
}
/* 列表 */
.list{
    width:100%;
    height: 2.1rem;
    border-bottom: 1px dashed #ccc
}
.list label{
    display: inline-block;
    width: 100%;
    height: .26rem;
    font-size: .26rem;
    color: #5f5f5f;
    margin: .3rem 0;
}
/* 上传图片 */
.weui-uploader__bd{
    width: 100%;
    height: 1.2rem;
}
.weui-uploader__file{
    width:1.44rem;
    height: 1rem;
    border: 1px solid red;
    border-radius: .15rem;
    position: relative;
}
.weui-uploader__input-box{
    width:.4rem;
    height: .4rem;
    border-radius: 50%;
    margin: .3rem .56rem;
    background-color: #3771ea
}
.weui-uploader__input-box:before{
    width: 2px;
    height:.3rem;
    border-color: white;
}
.weui-uploader__input-box:after{
    width: .3rem;
    height: 2px;
    border-color: white
}
.icon-guanbi{
    position: absolute;
    top: -.1rem;
    left: 75%;
    color: red;
    opacity: .6
}
/* 说明区 */
.weui-cells{
    padding: 0;
    width: 6.9rem;
    height: 3.5rem;
    margin: 0 auto 0;
    display: flex;
    padding-top: .45rem;
    box-sizing: border-box
}
.weui-cells:after{
    border: none
}
.weui-cells:after, .weui-cells:before{
    border: none
}
#cell{
    width: 100%;
    height: 2.25rem;
    flex-direction: column;
    border: none;
    padding: 0
}
.weui-cells #label{
    display: inline-block;
    width:6.6rem;
    height: .72rem;
    text-align: left;
    line-height: .72rem;
    margin-left: .3rem
}
.weui-textarea{
    width:6.8rem;
    height: 2.1rem;
    border: 1px solid #dddddd;
    box-sizing: border-box;
    border-radius: .15rem;
    padding-left: .2rem;
}
/* 下一步 */
.weui-btn{
    width:5.5rem;
    height: .8rem;
    border-radius: .5rem;
    margin: .35rem auto;
    background-color: #3b6bf4 !important;
    line-height: .8rem;
}
.weui-btn:after{
    border: none
}
/* 删除提示框 */
.pop-box{
    display: none
}
.pop-box .mask{
    position: fixed;
    top:0;
    left:0;
    z-index: 100;
    width:100%;
    height:100%;
    background-color: black;
    opacity: .3;
}
.box1{
    position: fixed;
    top:3.15rem;
    left:.3rem;
    z-index: 200;
    width:6.9rem;
    height: 4.45rem;
    background-color: #fff;
    border-radius: .1rem
}
.btn-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around
}
#yes{
    width:2rem;
    height:.64rem;
    background-color: #ccc;
    font-size: .3rem;
    color: #fff;
    border-radius: .5rem;
    margin-top: .97rem;
    line-height: .8rem;
}
#no{
    width:2rem;
    height: 0.64rem;
    background-color: #3b6af4;
    font-size: .3rem;
    color: #fff;
    border-radius: .5rem;
    margin-top: .97rem;
    line-height: .8rem;
    
}
.warn{
    font-size: .3rem;
    color: #1a69ea;
    text-align: center;
    margin: 0;
    padding-top: .38rem
}
.wrong{
    font-size: .26rem;
    color: black;
    text-align: center;
    margin-top: 1rem
}
