body{
    width:100%;
    height:100%;
}
.content{
    width:100%;
    height:100%;
}
.content-c{
    width:100%;
    height:5.24rem;
}
.mind{
    width:6.93rem;
    height:5.14rem;
    margin: auto;
}
h1{
    width:100%;
    height:1.38rem;
    font-size: .32rem;
    color: black;
    font-weight: 700;
    line-height: 1.38rem;
    text-align: center
}
.result{
    width:100%;
    height:2.96rem;
}
.name{
    width:100%;
    height:.74rem;
    border-bottom: 1px dashed #b8b8b8;
    box-sizing: border-box;
}
.IDcard{
    width:100%;
    height:.74rem;
    border-bottom: 1px dashed #b8b8b8;
    box-sizing: border-box;
}
.card{
    width:100%;
    height:.74rem;
    border-bottom: 1px dashed #b8b8b8;
    box-sizing: border-box;
}
.phone{
    width:100%;
    height:.74rem;
    border-bottom: 1px dashed #b8b8b8;
    box-sizing: border-box;
}
.text{
    font-size: .28rem;
    color:#5e5e5e;
    line-height: .74rem;
    padding-left: .34rem
}
.IDcard .text{
    margin-left: .16rem
}
.card .text{
    margin-left: .16rem
}
.auditing-result{
    width:100%;
    height:.82rem;
    display: flex;
    flex-direction: row;
}
.text-p{
    font-size: .28rem;
    color:#383838;
    line-height: .82rem
}
.pass-box{
    width:.95rem;
    height:.4rem;
    border-radius: .5rem;
    margin-top: .25rem;
    margin-left: .27rem;
    background-color: #94c945;
  
}
.pass{
    font-size: .28rem;
    color: white;
    text-align: center;
    /* line-height: .82rem */
}
.line{
    width:100%;
    height:.1rem;
    background-color: #ebf1ff
}