body{
    width:100%
}
.content{
    width:5.52rem;
    margin: auto;
    box-sizing: border-box;
}
.text{
	color: #3b6bf4;
	text-align: center;
	font-size: .4rem;
	padding-top: 2rem;
}
.inputDiv{
	position: relative;
	margin-top: .5rem;
}
.inputDiv i{
	position: absolute;
	top: .1rem;
	left: .4rem;
	color: #3b6bf4;
	font-size: .4rem;
}
.inputDiv input{
	width: 100%;
	height: .8rem;
	line-height: .8rem;
	border-radius: .4rem;
	border: 1px solid #cfcfcf;
	background-color: #f5f6f8;
	text-indent:1rem;
	font-size: .28rem;
}
.weui-btn{
    width:100%;
    height:.8rem;
    background-color: #3b6bf4 !important;
    border-radius: .5rem;
    font-size: .32rem;
    font-weight: 900;
    color: #fff;
    line-height: .8rem;
    text-align: center; 
    margin-top: 1rem;
}