.content{
    width:100%;
    padding: .6rem 0 0;
    box-sizing: border-box;
}
/* 第一排 */
.first{
    width:100%;
    height: 1.97rem;
    display: flex;
}
/* 第二排 */
.secound{
    width:100%;
    height: 1.97rem;
    display: flex;
}
/* 第三排 */
.third{
    width:100%;
    height: 1.97rem;
    display: flex;
}
/* 第四排 */
.fouth{
    width:68%;
    height: 1.97rem;
    display: flex;
   padding-left: 32%
}
/* 选择项 */
.choose{
    width:2.2rem;
    height: 1.18rem;
}
/* 图标 */
.iconfont{
   font-size: .7rem;
   margin-left: .5rem;
   color: #b0b0b0
}
/* 字体 */
p{
    font-size: .24rem;
    text-align: center;
    color: #3e3e3e;
    font-weight: 700
}
/* 双排箭头旋转90度 */
.secound .arrow, .fouth .arrow{
    transform: rotate(90deg)
}
/* 单排箭头旋转90度 */
.arrow{
    transform: rotate(-90deg);
}
/* 向下的箭头--单排单独 */
.down{
    margin-left: 78%
}
