.content{
    width:100%;
    padding: .6rem .2rem 0rem .2rem;
    box-sizing: border-box;
}
/* 第一排 */
.first{
    width:100%;
    height: 1.97rem;
    display: flex;
}
/* 第二排 */
.secound{
    width:100%;
    height: 1.97rem;
    display: flex;
}
/* 第三排 */
.third{
    width:100%;
    height: 1.97rem;
    display: flex;
}
/* 第四排 */
.fouth{
    width:68%;
    height: 1.97rem;
    display: flex;
   padding-left: 32%
}
/* 选择项 */
.choose{
    width:2.2rem;
    height: 1.18rem;
    position: relative;
}
/* 图标 */
.iconfont{
   font-size: .7rem;
   color: #b0b0b0;
   margin:  0 auto;
}
/* 字体 */
p{
	display: block;
	width: 100%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
    font-size: .24rem;
    text-align: center;
    color: #3e3e3e;
    font-weight: 700;
    white-space:nowrap;
}


.arrow{
	text-align: center;
	vertical-align: middle;
}
.first .arrow i,.third .arrow i{
	float: left;
	display: block;
    transform: rotate(-90deg);
    margin-left: 0;
}
.secound .arrow i,.fouth .arrow i{
	float: left;
	display: block;
    transform: rotate(90deg);
    margin-left: 0;

}
/* 向下的箭头--单排单独 */
.down{
    margin-left: 5.8rem
}

.content>div>div{
	height: 100%;
	text-align: center;
}

.leftDown i{
	margin-left: .6rem;
}
