/* 顺序框 */
header{
    width:100%;
    height: .94rem;
}
header ul{
    display: flex;
    justify-content: space-around;
    line-height: .94rem
}
/* 图标 */
.iconfont{
    color: #c6cbc9;
}
/* 分割线 */
.line{
    width: 100%;
    height: .1rem;
    background-color: #ebf2ff
}
.title{
    width:100%;
    height: 1rem;
    display: flex;
}
.title p{
    width: 3.45rem;
    height: .64rem;
    text-align: center;
    line-height: .64rem;
    margin-top: .15rem;
    padding: 0 .3rem;
    box-sizing: border-box;
    border: 1px solid #3b6af4
}
.personal{
    margin-left: .3rem;
    border-radius: .5rem 0 0 .5rem
}
.compony{
    border-radius:0 .5rem .5rem 0
}
#compony {
    display: none
 }
.p-active{
    background-color: #3b6af4;
    color: #ffffff;
}
/* 内容 */
.content{
    width:100%;
}
/* 内容列表 */
.c-list{
    width:6.9rem;
    margin: auto;
}
.icon-xiangji1{
    font-size: .5rem;
    margin-top: -.5rem
}
.weui-cell{
    padding: 0;
    width: 100%;
    height: 1rem;
    border-bottom: 1px dashed #dddddd
}
.weui-cell:before{
    border: none
}
.weui-label{
    width: 2.5rem;
    line-height: .6rem;
}
#compony .weui-label{
    font-size: .26rem;
    font-weight: 700
}
.weui-input{
    width:3.7rem;
    height:.6rem;
    border: 1px solid #c6c6c6;
    border-radius: .5rem;
    padding-left: .2rem;
    margin-left: -.3rem;
    position: relative;
}
#compony .weui-input{
    margin-left:0;
}
.weui-cell .icon-xiangxia1{
    position: absolute;
    top: .3rem;
    left: 80%
}
#compony .weui-cell .icon-xiangxia1{
    position: absolute;
    top: .3rem;
    left: 85%
}
.weui-cell .icon-xiangji1{
   width:.4rem;
   height: .35rem;
   color: #3b6bf4
}
#btn{
    width:5.5rem;
    height: .64rem;
    border-radius: .5rem;
    margin: .35rem auto;
    background-color: #3b6bf4 !important;
    line-height: .64rem
}
#btn2{
    width:5.5rem;
    height: .64rem;
    border-radius: .5rem;
    margin: .35rem auto;
    background-color: #3b6bf4 !important;
    line-height: .64rem
}

.weui-navbar__item{
    padding: .1rem 0 0 0
}
.weui-navbar__item:after{
    display: none
}
.weui-search-bar:after, .weui-search-bar:before{
    display: none
}
.weui-navbar:after{
    display: none
}

span{
    display: inline-block;
    font-size: .28rem;
    margin-top: -.15rem;
    color: #3b6bf4
}
/* 说明区 */
.weui-cells{
    padding: 0;
    width: 6.9rem;
    height: 2.25rem;
    margin: 0 auto;
    border-bottom: 1px dashed #dddddd;
}
#cell{
    width: 100%;
    height: 2.25rem;
    flex-direction: column;
    border: none
}
.weui-cells #label{
    display: inline-block;
    width:6.6rem;
    height: .72rem;
    text-align: left;
    line-height: .72rem;
    margin-left: .3rem
}
.weui-textarea{
    width:6.7rem;
    height: 1.35rem;
    border: 1px solid #dddddd;
    box-sizing: border-box;
    border-radius: .15rem;
    padding-left: .2rem
}

.toolbar, .toolbar .title{
    font-size: unset
}
.toolbar{
    height: 1rem
}
.toolbar .title{
    line-height: 1rem
}
.toolbar .picker-button{
    height: 1rem;
    line-height: 1rem
}
/* 时间选择器 */
/* .weui-picker-modal .picker-item{
    font-size: .4rem;
} */
.picker-calendar-month-picker a.icon-only, .picker-calendar-year-picker a.icon-only{
    width: 10%;
    height: .5rem;
    line-height: .6rem
}
.picker-calendar-month-picker .current-month-value, .picker-calendar-month-picker .current-year-value, .picker-calendar-year-picker .current-month-value, .picker-calendar-year-picker .current-year-value{
    height: .5rem;
    line-height: .5rem
}
.picker-calendar-row{
    height: .8rem;
}
i.icon.icon-next, i.icon.icon-prev{
    width: .4rem;
    height: .4rem
}
.weui-picker-calendar .picker-modal-inner{
    margin-top: -.4rem;
}
.weui-picker-modal.weui-picker-modal-visible{
    height: 5rem
}
.picker-calendar-week-days{
    height: .5rem
}
 .picker-calendar-year-picker span{
    margin-top: 0;
    color: unset;
    font-size: .32rem
}
.picker-calendar-row span{
    margin-top: 0;
    color: unset;
    font-size: .32rem
}