/* 顺序框 */
header{
    width:100%;
    height: .94rem;
}
header ul{
    display: flex;
    justify-content: space-around;
    line-height: .94rem
}
/* 图标 */
.iconfont{
    color: #c6cbc9;
}
/* 分割线 */
.line{
    width: 100%;
    height: .1rem;
    background-color: #ebf2ff
}
/* 个人担保、企业担保 切换*/
.title{
    width:100%;
    height: 1rem;
    display: flex;
}
.title p{
    width: 3.45rem;
    height: .8rem;
    text-align: center;
    line-height: .8rem;
    margin-top: .15rem;
    padding: 0 .3rem;
    box-sizing: border-box;
    border: 1px solid #3b6af4
}
/* 个人担保 */
.personal{
    margin-left: .3rem;
    border-radius: .5rem 0 0 .5rem
}
/* 公司担保 */
.compony{
    border-radius:0 .5rem .5rem 0
}
/* 公司担保内容 */
#compony {
    display: none
}
.p-active{
    background-color: #3b6af4;
    color: #ffffff;
}
/* 内容 */
.content{
    width:100%;
}
/* 内容列表 */
.c-list{
    width:6.9rem;
    margin: auto;
}
.icon-xiangji1{
    font-size: .5rem;
    margin-top: -.5rem
}
.content .weui-cell{
    padding: 0;
    width: 100%;
    height: 1rem;
    border-bottom: 1px dashed #dddddd
}
.weui-cell:before{
    border: none
}
.weui-label{
    width: 2.5rem;
    line-height: .6rem;
    text-align: right;
    font-size: .32rem;
}
#compony .weui-label{
    font-size: .26rem;
    font-weight: 700
}
.weui-input{
	position: relative;
    width:3.7rem;
    height:.6rem;
    border: 1px solid #c6c6c6;
    border-radius: .5rem;
    padding-left: .2rem;
	font-size: .26rem;
}
#compony .weui-input{
    margin-left:0;
}
.weui-cell .icon-xiangxia1{
    position: absolute;
    top: .3rem;
    left: 83%
}
#compony .weui-cell .icon-xiangxia1{
    position: absolute;
    top: .3rem;
    left: 85%
}
.weui-cell .icon-xiangji1{
   width:.4rem;
   height: .35rem;
   color: #3b6bf4
}
.weui-btn{
    width:5.5rem;
    height: .8rem;
    border-radius: .5rem;
    margin: .35rem auto;
    background-color: #3b6bf4 !important;
    line-height: .8rem;
}
/* .weui-navbar__item{
    padding: .1rem 0 0 0
}
.weui-navbar__item:after{
    display: none
}
.weui-search-bar:after, .weui-search-bar:before{
    display: none
}
.weui-navbar:after{
    display: none
}

span{
    display: inline-block;
    font-size: .28rem;
    margin-top: -.15rem;
    color: #3b6bf4
} */
/* 说明区 */
.weui-cells{
    padding: 0;
    width: 6.9rem;
    height: 2.25rem;
    margin: 0 auto;
    border-bottom: 1px dashed #dddddd;
}
#cell{
    width: 100%;
    height: 2.25rem;
    flex-direction: column;
    border: none
}
.weui-cells #label{
    display: inline-block;
    width:6.6rem;
    height: .72rem;
    text-align: left;
    line-height: .72rem;
    margin-left: .3rem
}
.weui-textarea{
    width:6.7rem;
    height: 1.35rem;
    border: 1px solid #dddddd;
    box-sizing: border-box;
    border-radius: .15rem;
    padding-left: .2rem
}
