
.content{
    width:100%;
}
/* 订单列表 */
.list{
    width:100%;
}
/* 列表内容 */
.c-list{
    /*height: 2.1rem;*/
    margin: auto;
}
/* 基本信息 */
.basic-msg{
    height:.9rem;
    border-bottom: 1px dashed #ccc;
    padding: 0 .4rem;
}
.basic-msg>div{
	float: left;
	line-height: .9rem;
}
/* 字体垂直居中 */
.basic-msg p{
    line-height: .9rem
}
/* 姓名和电话 */
.basic{
    font-size: .3rem;
    line-height: .9rem;
    /*width: 1.4rem;*/
}
.titName{
	width: 50%;
	font-size: .3rem;
	line-height: .9rem;
	  overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
/* 贷款 */
.credit{
	margin-left: .5rem;
}
.cre{
	margin-left: .3rem;
    line-height: .9rem;
    font-size: .3rem
}
/* 姓名 */
.name{
	display: inline-block;
}
/* 电话 */
.phone{
	display: inline-block;
	margin-left: .3rem;
    text-decoration: underline
}
label, span{
    font-size: .3rem;
}

/* 按钮 */
.btn{
	position: relative;
   height:1.3rem;
   text-align: center;
   padding: 0 .2rem;
}
/* 选择框 */
.dislableDiv{
    background-color: #C6C6C6;
    float: left;
}

.choose{
    background-color: #3b6bf4;
    float: left;
}

/* 订单取消 */
.cancel{
    background-color: #fe7800;
    float: right;
}

.middle{
	background-color: #4CAF50;
	display: inline-block;
}
.errCan{
	background-color: #C6C6C6;
	float: right;
}

.choose,.dislableDiv,.cancel,.middle,.errCan{
	width: 2.2rem;
    font-size: .3rem;
    color: white;
    text-align: center;
    line-height: .6rem;
    margin-top: .4rem;
    border-radius: .5rem;
    height: .6rem;
    line-height: .6rem;
}

.line{
    width:100%;
    height: .1rem;
    background-color: #ecf1ff
}

#errBox{
	display: block;
}
.box1>span{
	padding: .5rem 0;
	display: block;
}
.box1>input{
	border: 1px solid #cfcfcf;
	background-color: #f5f6f8;
	outline: none;
	text-align: center;
	width: 85%;
	height: .8rem;
	text-align: left;
	border-radius: .4rem;
	text-indent: .2rem;
}

.tit{
	display: none;
	position: absolute;
	width: 2.5rem;
	top: 1.1rem;
	left: 0;
	right: 0;	
	margin: 0 auto;
	border: 1px solid #C4C4C4;
	background-color: #FFFFFF;
	border-radius:.1rem;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#c3c3c3', Direction=135, Strength=5);/*for ie6,7,8*/ 
	-moz-box-shadow:0px 2px 5px #c3c3c3;/*firefox*/ 
	-webkit-box-shadow:0px 2px 5px #c3c3c3;/*webkit*/ 
	box-shadow:0px 2px 5px #c3c3c3;/*opera或ie9*/ 
}

.tit div{
	height: .7rem;
	line-height: .7rem;
	font-size: .30rem;
}

/*======流程查看===========*/
.orderProcess,.seeProcess{
	float:left;
	width: 25%;	
	text-align: center;
	font-size: .3rem;
	color: #FFFFFF;
	border-radius: .5rem;
	line-height: .6rem !important;
	margin-top: .15rem;
}
.orderProcess{
	background-color: #5bc0de;
	
	
}
.seeProcess{
	background-color: #8a6de9;
}
